.graph-container {
    position: relative;
    min-height: 500px;
}

#graph {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#toolbox {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #bbbbbb;
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
    box-shadow: 0 0 20px #eeeeee;
    background-color: white;
}

#toolbox ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#toolbox li {
    display: inline-block;
    cursor: pointer;
}

#toolbox li img {
    width: 32px;
    height: 32px;
}

.forbidden {
    cursor: not-allowed !important;
}